{% extends 'base.html' %}
{% block content %}

<body class="car-confirm-delete">
    
    <div class="card" style="background-color: rgba(79, 12, 12, .7); color: rgb(255, 255, 255); text-align: center; padding: 20px; margin-top: 150px ;" >
        <h1>Delete Feature</h1>
       
        <h4>Are you sure you want to delete <br><br><span>{{object.name}}</span>?</h4>
        <br>
        <form action="" method="POST">
        {% csrf_token %}
            <br>
            <input type="submit" value="Yes - Delete!" class="btn">
           
            <a href="{% url 'detail' feature.id %}">Cancel</a>
        </form>
    </div>
</body>
{% endblock %}