{% extends 'base.html' %}
{% block content %}

<body class="feature-create">

<h1>Feature Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ feature.name }}</span>
      </div>
      <div class="card-action">
        <a href="{% url 'features_update' feature.id %}">Edit</a>
        <a href="{% url 'features_delete' feature.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}