{% extends 'base.html' %}
{% block content %}

<body class="cars-index">
  

<h1>View All The Cars</h1>

{% for car in cars %}
  <div class="card" style="background-color: rgba(255, 255, 255, 0.5); color: rgb(255, 255, 255); " >
    <a href="{% url 'detail' car.id%}">
        <div class="card-content">
            <span class="card-title">{{ car.model }}</span>
            <p>Make: {{ car.make }}</p>
            <p>Year: {{ car.year }}</p>
            <p>Engine: {{ car.engine }}</p>
        </div>
    </a>
  </div>
{% endfor %}
</body>
{% endblock %}