{% extends 'base.html' %}
{% block content %}

<div class="background-image-2">
<h1>About This Collector</h1>
<div class="card">
    <h2 id="about-body-headline">You know how people like to joke: "If I won the lottery, I wouldn't tell anyone. (but there'd be signs)?"</h2>
    <br>
    <h3 id="about-body-text">That'd be me for sure. 
        <br>
        I've been a die-hard lover of automobiles ever since I was using my brother's Matchbox cars as pacifiers.
        <br>
        I love everything about cars, ALL cars from ALL locations and times.
        Their development has been closely-linked with the development of the world that drives them since their own beginning,
        when Henry Ford (yeah, THAT Ford) invented the assembly line..
    </h3>
</div>
</div>

{% endblock %}