{% extends 'base.html' %}
{% block content %}
<body class="about">

<h1>About This Collector</h1>
<div class="card" style="background-color: rgba(79, 12, 12, .6); color: rgb(255, 255, 255); text-align: center; padding: 20px;" >
    <h4 id="about-body-text">
        I've been a die-hard lover of automobiles ever since I was using my brother's Matchbox cars as pacifiers.
        <br>
        <br>
        I love everything about cars, ALL cars from ALL locations and times.
        Their development has been closely-linked with the development of the world that drives them since their own beginning,
        when Henry Ford (yeah, THAT Ford) invented the assembly line...
    </h4>
</div>

</body>
{% endblock %}