{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bitchin' Car Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper" style="background-color: rgb(79, 12, 12);">
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Bitchin' Car Collector</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About the Car Collector</a></li>
          <li><a href="{% url 'cars_create' %}">Add a Car</a></li>
          <li><a href="{% url 'features_create' %}">Add a Feature</a></li>
          <li><a href="{% url 'features_index' %}">See all Features</a></li>
          <li><a href="{% url 'index' %}">View All The Cars</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  
  </main>
  <footer class="page-footer" style="background-color: rgb(79, 12, 12);">
    <div class="right">All Rights Reserved, &copy; 2023 Car Collector &nbsp;</div>
  </footer>
</body>
</html>
