body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.home {
    background: url("../car/images/gto.jpg") ;
    background-position: center;
    background-size: cover;
    /* Additional styling for background image */
    
}

.about {
    background: url("../car/images/mustang_grille.jpeg") ;
    background-position: center;
    background-size: cover;
}

.cars-index {
    background: url("../car/images/open_road.jpg") ;
    background-position: center;
    background-size: cover;
}

.detail {
    background: url("../car/images/challenger_front.jpg") ;
    background-position: center;
    background-size: cover;
}

.car-create {
  background: url("../car/images/mercedes.jpg") ;
    background-position: center;
    background-size: cover;
}

.car-create-form {
  background-color: rgba(79, 12, 12, .8);
  padding: 30px;
}
input {
  color: white;
  font-size: 20px;
}
label {
  font-family:'Graduate', serif;
  font-size: 25px;
  color: white;
}

.about-body-headline {
text-align: center;
}

.about-body-text {
text-align: center;
}

.left brand-logo {
  font-family: 'Graduate', serif;
}

h1 {
  font-family: 'Graduate', serif;
  color: white;
}

.card-title {
  font-family: 'Graduate', serif;
}

.card-content {
  font-family: 'Graduate', serif;
  color: rgb(79, 12, 12);
}
.card-content:hover {
  color: rgb(255, 255, 255);
}